<div class="container body-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <span class="glyphicon glyphicon-th-large"></span>
                    GNX Platform<sup>v 1.0</sup>
                </a>
                <!--<a href="#/module" class="navbar-brand" data-bind="if: loggedIn()">
                    Modules
                </a>-->
                <!--<a href="#/about" class="navbar-brand">
                    About
                </a>-->
            </div>

            <div class="navbar-collapse collapse" >

                <div >
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#/about" class="navbar-brand">
                                About
                            </a>
                        </li>
                    </ul>
                </div>

                <div data-bind ="ifnot: loggedIn()">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#/login" class="navbar-brand">
                                Login
                            </a>
                        </li>
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="/Help">Help</a></li>-->
                    </ul>
                </div>

                <div data-bind="if: loggedIn()">
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="/Help">Help</a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right" data-bind="with: user">
                        <li>
                            <span class="navbar-text nofloat">Hello, <a href="#/manage" class="navbar-link" data-bind="text: name"></a>!</span>
                        </li>
                        <li><a href="#" data-bind="click: $root.logOff">Log off</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="foreach: errors" class="padding-error">
        <p class="text-danger" data-bind="text: $data"></p>
    </div>

    <div data-bind="router: { cacheViews:false }"></div>

    <hr />


</div>
